.FormContainer {
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.FormContainerMobile {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.SubmitHeader {
    margin-bottom: 20px;
    margin-top: 0px;
    color: rgb(217, 4, 41);
    border-bottom: 1px dashed rgba(217, 4, 41, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.SubmissionFormContents {
    display: flex;
    flex-direction: row;
}

.SubmissionFormContentsMobile {
    display: flex;
    flex-direction: column;
}

.SubmissionFormGroupLeft {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.TodoTextEntry {
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
    width: 99%;
}

.ExpiryDateContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ExpiryCheckboxContainer {
    display: flex;
    flex-direction: row;
}

.ExpiresLabel {
    margin-right: 5px;
    font-size: 0.8em;
}

.ExpiryPicker {
    width: 50%;
}

.SubmissionFormGroupRight {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.ImportantAndSubmitContainer {
    display: flex;
    flex-direction: row;
}

.ImportantStarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ImportantStarContainerMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ImportantToggle {
    margin: 0px;
    font-size: 0.8em;
    margin-top: 10px;
}

.ImportantStar {
    margin: 0px;
    color: rgb(255, 228, 94);
    font-size: 2em;
}


.FormSubmit{
    margin: 0px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(237, 242, 244);
    border: 1px solid rgb(141, 153, 174);
}

.FormSubmitMobile {
    margin: 0px 0px 0px 20px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(237, 242, 244);
    border: 1px solid rgb(141, 153, 174);
}

.FormSubmit:hover, .FormSubmitMobile:hover {
    background-color: rgb(242, 246, 248);
}

@media only screen and (max-width: 900px) {

    .ExpiryDateContainer {
        margin-top: 5px;
        justify-content: start;
        align-items: center;
    }

    .ExpiryPicker {
        width: 100%;
        margin-left: 10px;
    }

    .ExpiresLabel {
        margin-right: 0px;
    }

    .ExpiryCheckboxContainer {
        flex-direction: column;
        align-items: center;
    }
}

