.ListContainer {
    display: flex;
    flex-direction: row;
}

.ListLeft {
    margin-left: 10px;
    margin-right: 20px;
    flex: 7;
}

.ListItemsContainer {
    width: 100%;
    padding-bottom: 5px;
}

.NoItemsTip {
    padding: 0px 10px 0px 10px;
    color: #8D99AE;
    font-style: italic;
    font-weight: 300;
}

.Showing {
    margin: 0px 0px 10px 10px;
    color: rgb(217, 4, 41);
    border-bottom: 1px dashed rgba(217, 4, 41, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: fit-content;
    font-style: italic;
}

.ListRight {
    background-color: #f9f9f9;
    border: 2px double #8D99AE;
    margin-right: 10px;
    height: fit-content;
    font-size: 0.8em;
    flex: 3;
}

.OptionsHeader {
    color: rgb(217, 4, 41);
    border-bottom: 1px dashed rgba(217, 4, 41, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    width: fit-content;
    margin: 5px 0px 5px 5px;
}

.SortBySection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}

.SortBySelectLabel {
    margin-right: 5px;
}

.SortBySelect {
    background-color: rgb(237, 242, 244);
}

.DeleteExpiredContainer {
    display: flex;
    flex-direction: column;
}

.ShowCompletedContainer {
    display: flex;
    flex-direction: column;
}

.DeleteCompletedContainer {
    display: flex;
    flex-direction: column
}

.OptionsButton {
    background-color: rgb(237, 242, 244);
    border: 1px solid rgb(141, 153, 174);
    outline: none;
    padding: 2px 0px 2px 0px;
}

.CannotUndoLabel {
    margin-bottom: 5px;
    width: fit-content;
    align-self: flex-end;
    font-style: italic;
    font-size: 0.9em;
}

.AutoDeleteCompletedContainer {
    width: fit-content;
    align-self: flex-end;
}

.AutoDeleteCompletedLabel {
    justify-self: flex-end;
}

.OptionsItem {
    margin: 10px 5px 10px 5px;
}