.ListContainer {
    display: flex;
    flex-direction: row;
}

.ListLeft {
    border: 1px solid #000;
    margin-left: 10px;
    margin-right: 10px;
    flex: 7;
}

.ListItemsContainer {
    /* border: 1px solid green; */
    width: 100%;
    padding-bottom: 5px;
}

.Showing {
    margin: 0px 0px 10px 10px;
    /* border: 1px solid blue; */
    color: rgb(217, 4, 41);
    /* text-decoration: underline rgb(217, 4, 41) dashed; */
    border-bottom: 1px dashed rgba(217, 4, 41, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: fit-content;
    font-style: italic;
}

.ListRight {
    border: 1px solid #000;
    margin-right: 10px;
    height: fit-content;
    flex: 3;
}

.OptionsHeader {
    color: rgb(217, 4, 41);
    border-bottom: 1px dashed rgba(217, 4, 41, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: fit-content;
    margin: 5px 0px 0px 5px;
}

.SortBySection {
    display: flex;
    flex-direction: row;    
}

.DeleteExpiredContainer {
    display: flex;
    flex-direction: column;
}

.ShowCompletedContainer {
    display: flex;
    flex-direction: column;
}

.DeleteCompletedContainer {
    display: flex;
    flex-direction: column
}

.OptionsItem {
    margin: 5px;
}